---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/TopBar.astro';
import Navbar from '../components/Navbar.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HomeBody from '../components/HomeBody.astro';
import IconBar from '../components/IconBar.astro';
---

<Layout title="Welcome to FOSSEE.">
	<main>
		<div class="main">
			<TopBar />
			<Navbar />
			<!-- <TestNavbar /> -->
			<Header />
			<IconBar />
			<HomeBody />
			<Footer/>
		</div>
	</main>
</Layout>

<style>

</style>
