---

const user = Astro.locals.user; // Fetch the user from session or locals

if (user) {		// If user is already logged in, redirect to admin page
  return Astro.redirect("/admin");
}
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/TopBar.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import IconBar from '../components/IconBar.astro';
import LoginBody from '../components/LoginBody.astro';
---

<Layout title="Welcome to FOSSEE.">
	<main>
		<TopBar />
		<Navbar />
		<IconBar />
        <LoginBody/>
		<Footer/>
	</main>
</Layout>
