---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import TopBar from '../components/TopBar.astro';
import Navbar from '../components/Navbar.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HomeContent from '../components/HomeContent.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<TopBar />
		<Navbar />
		<Header />
        <HomeContent />
		<Footer/>
	</main>
</Layout>

<style>

</style>
