---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/TopBar.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to FOSSEE.">
	<main>
		<TopBar />
		<Navbar />
		<Footer/>
	</main>
</Layout>

<style>

</style>
