---
const props = Astro.props
---

<div class="icon-bar">
    <a href="https://www.facebook.com/FOSSEENMEICT/" class="facebook" target="_blank">
        
        <svg xmlns="http://www.w3.org/2000/svg" width="36.75" height="42" viewBox="0 0 448 512" {...props}>
            <path fill="white" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48c27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48" />
        </svg>

    </a>
    <a href="https://www.instagram.com/fossee_nmeict/" class="instagram" target="_blank">
        
        <svg xmlns="http://www.w3.org/2000/svg" width="36.75" height="42" viewBox="0 0 448 512" {...props}>
            <path fill="white" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9S287.7 141 224.1 141m0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7s74.7 33.5 74.7 74.7s-33.6 74.7-74.7 74.7m146.4-194.3c0 14.9-12 26.8-26.8 26.8c-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8s26.8 12 26.8 26.8m76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9c-26.2-26.2-58-34.4-93.9-36.2c-37-2.1-147.9-2.1-184.9 0c-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9c1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0c35.9-1.7 67.7-9.9 93.9-36.2c26.2-26.2 34.4-58 36.2-93.9c2.1-37 2.1-147.8 0-184.8M398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6c-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6c-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6c29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6c11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1" />
        </svg>

    </a>
    <a href="https://twitter.com/FOSSEE/" class="twitter" target="_blank">
        
        <svg xmlns="http://www.w3.org/2000/svg" width="36.75" height="42" viewBox="0 0 448 512" {...props}>
            <path fill="white" d="M64 32C28.7 32 0 60.7 0 96v320c0 35.3 28.7 64 64 64h320c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64zm287.3 167.3c0 86.7-66 186.6-186.6 186.6c-37.2 0-71.7-10.8-100.7-29.4c5.3.6 10.4.8 15.8.8c30.7 0 58.9-10.4 81.4-28c-28.8-.6-53-19.5-61.3-45.5c10.1 1.5 19.2 1.5 29.6-1.2c-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3c-9-6-16.4-14.1-21.5-23.6s-7.8-20.2-7.7-31c0-12.2 3.2-23.4 8.9-33.1c32.3 39.8 80.8 65.8 135.2 68.6c-9.3-44.5 24-80.6 64-80.6c18.9 0 35.9 7.9 47.9 20.7c14.8-2.8 29-8.3 41.6-15.8c-4.9 15.2-15.2 28-28.8 36.1c13.2-1.4 26-5.1 37.8-10.2c-8.9 13.1-20.1 24.7-32.9 34c.2 2.8.2 5.7.2 8.5" />
        </svg>
        
    </a>
    <a href="https://www.linkedin.com/company/fossee-iitb/" class="linkedin" target="_blank">

        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 256 256" {...props}>
            <g fill="none">
                <rect width="256" height="256" fill="#0a66c2" rx="60" />
                <rect width="256" height="256" fill="#fff" rx="60" />
                <path fill="#0a66c2" d="M184.715 217.685h29.27a4 4 0 0 0 4-3.999l.015-61.842c0-32.323-6.965-57.168-44.738-57.168c-14.359-.534-27.9 6.868-35.207 19.228a.32.32 0 0 1-.595-.161V101.66a4 4 0 0 0-4-4h-27.777a4 4 0 0 0-4 4v112.02a4 4 0 0 0 4 4h29.268a4 4 0 0 0 4-4v-55.373c0-15.657 2.97-30.82 22.381-30.82c19.135 0 19.383 17.916 19.383 31.834v54.364a4 4 0 0 0 4 4M38 59.628c0 11.864 9.767 21.626 21.632 21.626c11.862-.001 21.623-9.769 21.623-21.631C81.253 47.761 71.491 38 59.628 38C47.762 38 38 47.763 38 59.627m6.959 158.058h29.307a4 4 0 0 0 4-4V101.66a4 4 0 0 0-4-4H44.959a4 4 0 0 0-4 4v112.025a4 4 0 0 0 4 4" />
            </g>
        </svg>
        
    </a>
</div>

<style>

    .icon-bar {
        position: fixed;
        top: 47.4%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .icon-bar a {
        display: block;
        text-align: center;
        padding: 1vh;
        transition: all 0.3s ease;
        font-size: 20px;
        cursor: pointer;
    }
    .icon-bar a:hover {
        background-color: black;
    }

    .facebook {
        background: #3B5998;
    }

    .instagram {
        background: #bb0000;
    }

    .twitter {
        background: #8ec8f5;
    }

    .linkedin {
        background: #0a66c2;
    }
    .linkedin svg:hover g path:hover {   
        fill: black;
    }

    svg{
        height: 3.5vh;
        width: 1.3vw;
    }

  @media screen and (max-width: 768px){
    svg{
        height: 2.5vh;
        width: 4vw;
    }
  }
</style>


