---
import 'bootstrap/dist/css/bootstrap.css'
---

<div class="navbar py-4">
  <a href="#" class="text-gray-800">Home</a>
  <a href="#" class="text-gray-800">About</a>
  <a href="#" class="text-gray-800">Resources</a>
  <a href="#" class="text-gray-800">Schedule</a>
  <a href="#" class="text-gray-800">Register</a>
  <a href="#" class="text-gray-800">Partners</a>
  <a href="#" class="text-gray-800">Contact Us</a>
</div>
  <style>
    .navbar {
      font-family: 'Roboto', sans-serif;
      display: flex;
      justify-content: space-around;
      padding: 0 20vw;
      background-color: rgb(252, 230, 188);
    }
    .navbar a {
      font-size: 2.2vh;
      font-weight:600;
      text-decoration: none;
    }
  </style>

