---
import CountdownTimer from "./CountdownTimer.astro";


// Can be used in other pages to check if the user is logged in or not

const user = Astro.locals.user;

if(!user) {
  // If the user is not logged in, it will redirect to the login page
  Astro.redirect('/login');
}
else{
  // If the user is logged in, it will redirect to the admin page
  Astro.redirect('/admin');
}

---

<div class="resultsContainer ">
    <div class="pre min-h-screen flex flex-col items-center justify-center">
        <CountdownTimer />
        <h1 class="mb-10">Results will be announced soon</h1>
        <a href = "/login" type="submit" class="w-40 bg-purple-600 no-underline text-center text-white py-2 rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600" id="Adminbtn">Admin Login<a/>
    </div>

</div>

