---

import scheduleJson from '../../public/jsonData/schedule.json';
interface ScheduleItem{
    heading : string;
    events : string[];
}
const scheduleData : ScheduleItem[] = scheduleJson;

---


<div class="schedule-main">
    <div class="schedule-heading">
        <h1>National Level Open Hardware-IoT Geospatial Hackathon</h1>
    </div>
    <hr>
    <div class="schedule-content">{
        scheduleData.map((item)=>{
            return (
            <h2>{item.heading}</h2>
            <div class="weeks">
                {
                    item.events.map((event)=>
                        <p>{event}</p>
                    )
                }
            </div>
        )})
    }
    </div>
</div>


  <style>

    .schedule-heading h1{
        color: rgb(2, 2, 110);
        font-size: 7.5vh;
        /* font-family: 'Roboto Slab', serif !important; */
        padding: 3vh 6vw;
        font-weight: 700;
        text-align: center;
    }
    .schedule-heading:hover{
        color: blue;
    }
    .schedule-content{
        padding: 0 0 0 25%;
    }
    .schedule-content h2{
        font-size: 3.3vh;
        width:72%;
        background-color: rgb(252, 230, 188);
        padding: 1vh;
        margin-bottom: 2vh;
        color:rgb(2, 2, 110);
    }
    .weeks p{
        font-size: 3vh;
        padding: 1vh 2.6vh;
        width: 75%;
        border-left: 4px solid blue;
    }
    @media screen and (max-width: 983px) {
        .schedule-content{
            padding: 0 0 0 12%;
        }
        .schedule-heading h1{
            font-size: 5vh;
            margin-top: 10vh;
        }
        .weeks p{
            border-left: 2px solid blue;
        }
  }
  </style>